# Compiled object files
*.o

# Main simulator executable
/scheduler

# Compiled test binaries
/test_event_queue
/test_scheduler
/test_simulator

# macOS specific system files (optional but highly recommended)
.DS_Store
.codex
